.back:hover {
position:relative;
top:323px;

box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
cursor: pointer;   
}
#next:hover {
position:relative;
top:323px;

box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
  cursor: pointer; 
}



#fscrn:hover {
position:relative;
top:323px;

box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
  cursor: pointer; 
}



.demo-wrapper {  
    width: 38%;  
    margin: 0 auto;  
}  
.html5-fullscreen-api {  
    position: relative;  
}  
.html5-fullscreen-api img {  
    max-width: 100%;  
    border: 10px solid #fff;  
     
}  
.html5-fullscreen-api #fscrn {  
    z-index: 100;  
    
    width: 32px;  
    height: 32px;  
    position: relative;  
      
      
    cursor: pointer;  
}  




#fullscreen:-webkit-full-screen {  
      
    width: 100%;  
 
}  

/* html */
:-webkit-full-screen {
  background: black;
}
:-moz-full-screen {
  background: black;
}

#fullscreen{
  margin-left:0px
}

#mainimage{
    float:left;
    height:300px;
    width:400px;
}



.back{
  height: 30px;
  width: 30px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  background-color:#FA2323;
  display:inline-block;
  position:relative;
  top:320px;
  right:420px;
}



#fscrn{
  height: 30px;
  width: 30px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  background-color:#16F5A3;
  display:inline-block;
  
  position:relative;
  top:320px;
  right:270px;
}

#next{
  height: 30px;
  width: 30px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  background-color:#16F54E;
  display:inline-block;
  position:relative;
  top:320px;
  right:100px;
}
:-webkit-full-screen #aalekh {
width: 100%;
height: 100%;
}

.cool{
  /*foo class*/
  
}
